<div class="account-type">
  <h1>What would you like to do?</h1>
   <div class='options' data-value='sell-rare'> Sell rare goods</div>
   <div class='options' data-value='buy-rare'> Buy rare goods</div>
   <div class='options' data-value='buy-sell'> I want to buy and sell</div>
</div>