 <div class="add-item">
   <h1>Add Item</h1>
   <form method='post'> 
     <input type='text' name='name' placeholder='Name'>
     <input type='text' name='headline' placeholder='Headline'>
     <textarea name='description' placeholder='Description'></textarea>
     <input type='file' name='item-image'> 
     <h1>What kind of item is this?</h1>
     <select name='item-type'> 
       <option value='furniture'>furniture</option>
       <option value='electronics'>electronics</option>
       <option value='fashion'>fashion</option>
     </select>  
     <h1>Tags</h1>
     <input type='text' name='tag1'>  
     <input type='text' name='tag2'> 
     <input type='text' name='tag3'>
     <h1>Condition</h1>
     <input type='checkbox' name='new' value='New' New>
     <input type='checkbox' name='like-new' value='Like New' Like New>
     <input type='checkbox' name='used' value='Used' Used>
     <h1>Price</h1>
     <input type='number' name='price' placeholder='$0'> 
     <h1>Negotiable</h1> 
     <input type='radio' name='negotiable' value='No' No>
     <input type='radio' name='negotiable' value='Yes' Yes>
     <h1>Authenticity of item</h1>
     <p>In order to sell items you will need to verify the authenticity of the item you wish to sale</p>
     <h1>Supporting documents</h1>
     <p>We will contact you once the item has been approved for sale</p>
     <select name='authenticity'> 
       <option value='Certificate of Authenticity'> Certificate of Authenticity</option>
     <input type='file' name='supporting-document'> 
     <h1>Limited Edition</h1>
     <p>Please let us know the number of the item or if its one of a kind</p>
     <select name=''> 
       <option value='One of a kind'>One of a kind</option>
     <input type='number' name='item-number' placeholder=' Which number is this item?'> 
     <input type='submit' value='Save'>
     </form>
  </div>
      

