#contact
  %h1 Contact
  %form
    %input(type='text' id='name' name='name' placeholder=' Name' class='txtFld')
    %input(type='email' id='email' name='email' placeholder=' E-mail' class='txtFld')
    %input(type='text' id='subject' name='subject' placeholder=' Subject' class='txtFld')
    %textarea(name='message' id='message' placeholder=' Message')
    %input(type='submit' value='send' id='contact-button')