#contact
  %h1 Contact
  %form(method='post')
    %input(type='text' name='name' placeholder=' Name' class='txtFld')
    %input(type='email' name='email' placeholder=' E-mail' class='txtFld')
    %input(type='text' name='subject' placeholder=' Subject' class='txtFld')
    %textarea(name='message' placeholder=' Message')
    %input(type='submit' value='send')