<div id="contact">
 <h1>Contact</h1>
  <form method="post">
    <input type='text' id='name' name='name' placeholder=' Name' class='txtFld'>
    <input type='email' id='email' name='email' placeholder=' E-mail' class='txtFld'>
    <input type='text' id='subject' name='subject' placeholder=' Subject' class='txtFld'>
    <textarea name='message' id='message' placeholder=' Message'></textarea>
    <input type='submit' value='send' id='contact-button'>
  </form>
</div>