<div class='profile'>
  <div class='profile-container'>
     <h1>Hi Janet,</h1>
     <p>Tell us about yourself</p>
    <form method='post' action='/create-profile'>
       <input type='text' placeholder=' Twitter' name='twitter'>
       <input type='text' placeholder=' Facebook' name='facebook'>
       <input type='text' placeholder=' Instagram' name='instagram'>
       <input type='text' placeholder=' HTTP://' name='website'>
       <textarea name="">bio</textarea>
       <input type='file' value='Upload photo'>
       <input type='submit' value='save'>
      </form>
    </div>  
</div>
