<div id="get-started">
  <h1> 🥳 Cool!</h1>
  <p>Welcome to Uniq, let’s setup your profile. In order to sell items or buy you will need to tell us a little bit about yourself.</p>
  <div>
    <form method='post' action='/get-started'>
      <input type='submit' value='Lets go' class='get-started-button'>  
      </form>
   </div>
  </div>
