#get-started 
  %h1 🥳 Cool!
  %p Welcome to Uniq, let’s setup your profile. In order to sell items or buy you will need to tell us a little bit about yourself.
  %div
    %input(type='button' value='Lets go' class='get-started-button')  
