<div id='homepage-content'>
  <h1>Buy and sell rare items</h1>
  <div>
    <form method='get' action='/get-started'>
      <input type='submit' value='Get started now' class='get-started-button'>
    </form>   
  </div>
</div>
