#homepage-content
  %h1 Buy and sell rare items
  %button Get started now
  %footer
    %ul
      %li 
        %img(src='/images/twitter.png' alt='twitter')
      %li 
        %img(src='/images/instagram.png' alt='instagram')