 <div class="item-preferences">
   <div class="items">
    <h1>Tell us about the kind of items you like</h1>
    <div data-value='Fashion'>Fashion</div>
    <div data-value='Jewelry'>Jewelry</div>
    <div data-value='Sports Collectibles'>Sports Collectibles</div>
    <div data-value='Furniture'>Furniture</div>
    <div data-value='Technology'>Technology</div>
    <div data-value='Art'>Art</div>
    <div data-value='Collectibles'>Collectibles</div>
    <div data-value='Miscellaneous'>Miscellaneous</div>
    <input type='button' value='Save' class='get-started-button save-button'>
    </div>
  </div>