!!! 5
%html
  %head
  %title Hello from Sinatra
  %link{ :rel => 'stylesheet', :href => url('css/main.css')}
  %script(src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous")
  %script(src="js/main.js")
%body
  #content
    .logo 
      %a(href='/')Uniq
    %nav
      %ul
        %li 
          %a(href='/about') About
        %li 
          %a(href='/contact') Contact
        %li 
          %a(href='/loft')Loft
        %li 
          %a(href='/sign-in') Sign in
    =yield
%footer
  %ul
    %li 
      %img(src='/images/twitter.png' alt='twitter')
    %li 
      %img(src='/images/instagram.png' alt='instagram')
