<div class="passcode">
  <h1>Sign in with passcode</h1>
  <p>An email was sent to your email address with a passcode please enter the passcode below</p>
  <form method="post">
     <input type='text' placeholder=' Passcode' name='passcode'>
     <input type='submit' value='Complete registration'>
  </form>
</div>