<div class="register">
  <h1>Register</h1>
  <form method='post'>
  <input type='email' name='email' placeholder=' E-mail'>
  <input type='text' name='name' placeholder=' Name'>
  <input type='button' value='send'>
   <div>
     <a href='/sign-in'>Sign in</a>
  </div>
</div>