<div class="signin">
  <h1>Sign in to Uniq</h1>
  <form method="post">
     <input type='email' placeholder=' E-mail' name='email'>
     <input type='password' placeholder=' Password' name='password'>
     <input type='submit' value='Sign in'>
  </form>
  <span>Have an account? <a href='/sign-up'>Sign in</a></span>
</div>