$primaryPurpleTxt: #32207C;
$secondaryPurpleTxt: #8974E0;
$bodyGrayTxt: #4B4645;
$logoFont: Raleway, sans-serif;
$bodyTxt: Supria Sans, sans-serif;
$headingTxt: Lust, serif;


* {
 padding: 0;
 margin: 0; 
}

html {
  box-sizing: border-box; 
}

body {
 background: #F4F2FF;
}

.overlay {
  background: rgba(50, 32, 124, 0.8);
  width: 100%;
  height: 100%;
  z-index: 99999 !important;
  position: absolute;
  top: 0;
  left: 0;
}

.modal {
  background: #fff;
  width: 300px;
  height: 200px;
  position: absolute;
  top: 100px;
  left: 35%;
  z-index: 999999 !important;
}



nav {
  width: 25%;
  float: right;
  margin-top: -25px;
}

nav ul {

}

nav ul li {
   display: inline;
   padding-right: 50px;
}


nav ul li a {
  font: 900 1rem $bodyTxt;
  font-stretch: ultra-condensed;
  color: $primaryPurpleTxt;
  text-decoration: none;
}

.logo {
  width: 40px;
  border-bottom: 4px solid $primaryPurpleTxt; 
  margin: 30px 0 0 75px;
}

.logo a {
  font: 700 1.5rem $logoFont;
  color: $primaryPurpleTxt;
  width: 100px;
  text-decoration: none;
}



#homepage-content, #get-started, #contact {
  width: 50%;
  margin: 15% auto 0 auto;

}




#homepage-content h1, #get-started h1, #contact h1 {
  color: $primaryPurpleTxt;
  font: 700 4.5rem $headingTxt;
  text-align: center;
  margin-bottom: 1.8%;
}



.get-started-button, #contact input[type='submit'] {
  background: $secondaryPurpleTxt;
  color: $primaryPurpleTxt;
  font: 700 1.2rem $headingTxt;
  width: 40%;
  height: 75px;
  text-decoration: none;
  border: none;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  border-radius: 15px;
}



#get-started p {
  color: $bodyGrayTxt;
  font: 200 1.4rem $bodyTxt;
  text-align: left;
  width: 50%;
  line-height: 2em;
  margin: 0 auto 25px auto;
}


.txtFld{
  width: 100%;
  height: 40px;
  margin-bottom: 25px;
  border: 1px solid rgb(228, 228, 228);
}

#contact textarea {
  width: 100%;
  height: 200px;
  margin: 25px 0;
  border: 1px solid rgb(228, 228, 228);
} 

#contact input[type='submit'] {
  width: 100%;
}


#about {
  width: 85%;
  margin: 15% auto 0 auto;
}

#about h1 {
  color: $primaryPurpleTxt;
  font: 700 4.5rem $headingTxt;
  text-align: right;
  margin-bottom: 1.8%;
}

#about p {
  color: $bodyGrayTxt;
  font: 200 1.4rem $bodyTxt;
  text-align: left;
  width: 52.5%;
  line-height: 2em;
  margin: 0 auto 25px auto;
  float: right;
}

#features-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#features-container {

  width: 100%;
}

#features-container #left-column {
  border-right: 1px solid rgba(204, 204, 204, 0.5);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 0 5%;
  background: #fafafa;
}

#features-container #left-column h3 {
  font: 200 1.2rem $headingTxt;
  color: $secondaryPurpleTxt;
  width: 220px;
  display: block;
  margin: 30px 0 15px 0;
}

#features-container #left-column p {
  font: 200 1rem $bodyTxt;
  line-height: 2em;
  margin: 0 0 25px 0;
  width: 100%;

}


#features-container #middle-column {
  border-right: 1px solid rgba(204, 204, 204, 0.5); 
  padding: 0 5%;
  background: #fafafa;
}

#features-container #left-column img {
  width: 48px;
  height: 24px;
  display: inline-block;
}

#features-container #middle-column img {
  width: 24px;
  height: 24px;
  display: inline-block;
}

#features-container #right-column img {
  width: 20px;
  height: 20px;
  display: inline-block;
}


#features-container #left-column span {
  display: block;
  width: 300px;
  margin: -30px 0 0 65px;
  text-decoration: underline;
}


#features-container #middle-column span {
  display: block;
  width: 300px;
  margin: -30px 0 0 40px;
  text-decoration: underline;
}


#features-container #right-column span {
  display: block;
  width: 300px;
  margin: -30px 0 0 35px;
  text-decoration: underline;
}


#features-container #middle-column h3 {
  font: 200 1.2rem $headingTxt;
  color: $secondaryPurpleTxt;
  
  width: 220px;
  margin: 25px 0 15px 0;
}

#features-container #middle-column p {
  font: 200 1rem $bodyTxt;
  line-height: 2em;
  margin: 0 0 30px 0;
  width: 100%;

}


#features-container #right-column {
  padding: 0 5%;
  background: #fafafa;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

#features-container #right-column h3 {
  font: 200 1.2rem $headingTxt;
  color: $secondaryPurpleTxt;
  text-decoration: underline;
  width: 270px;
  margin: 25px 0 15px 0;
}

#features-container #right-column p {
  font: 200 1rem $bodyTxt;
  line-height: 2em;
  margin: 0 0 25px 0;
  margin: 0;
  width: 100%;

}














footer {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 100px;
  left: 0;
}

footer ul {
  margin: 0 auto;
  width: 100px;
}

footer ul li {
  list-style-type: none;
  display: inline;
  margin-right: 15px;
}

footer img {
  width: 30px;
  height: 28px;
}


// @media(max-width: ){

// }